.custom_checkbox{
  display: none;
}
 
.custom_checkbox + label {
  display: inline-block;
  background-color: #DB574D;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-transform: uppercase;
  width: 80px;
}

 
.custom_checkbox + label,
.custom_checkbox + label i {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.custom_checkbox:checked + label {
  background-color: #67B04F; 
}
 
.largue + label {width: 130px;}
.largue:checked + label {width: 130px;}

.custom_checkbox .extra_largue + label {width: 190px;}
.custom_checkbox .extra_largue:checked + label {width: 190px;}

.custom_checkbox + label:before,
.custom_checkbox + label:after,
.custom_checkbox + label i {
  width: 50%;
  display: inline-block;
  height: 100%;
  text-align: center;
}
 
.custom_checkbox + label:before {
  content: attr(data-text-true);
}
 
.custom_checkbox + label:after {
  content: attr(data-text-false);
}
 
.custom_checkbox + label i {
  top: 10%;
  background-color: white;
  height: 80%;
  left: 5%;
  position: absolute;
  width: 45%;
}

.custom_checkbox .largue + label i {width: 47%;}
.custom_checkbox .extra_largue + label i {width: 49%;} 
.custom_checkbox:checked + label i { left: 50%;}