*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;	
}

body{
font-family: 'Open sans';	
background: #e8e8e8;
}

header{
position: fixed;	
width: 100%;
left: 0;
top: 0;

padding: 10px;
background: #34495e;
z-index: 8888;
}


header #button-menu{
font-size: 30px;
color: #fff;
cursor: pointer;	

display: inline-block;
margin-right: 15px;
display: none;
}

.navegacao{
position: absolute;
top: 100%;
left: 0;
width: 0%;
height: 100vh;
background: rgba(0,0,0,.0);
transition: background 0.2s;
}
.navegacao .menu{
left: 0;	
}

.navegacao ul{
width: 260px;
height: 100%;
background: #fff;
list-style: none;

position: absolute;
top: 0;	
left: -260px;
transition: left .3s linear;
}

.navegacao .menu li.title-menu{
padding: 10px;
background: #5f6f81;
color: #fff;
text-align: center;
font-size: 20px;
}


.navegacao .menu a{
display: block;
padding: 10px;
border-bottom: 1px solid #c6d0da;

font-size: 20px;
font-weight: 200;
text-decoration: none;
color: #575d69;
}
.navegacao .menu a:hover{
background: #798da3;
color: #fff;	
}

.navegacao .menu li span.icon-menu{
margin-right: 12px;	
}

.navegacao .menu .item-submenu > a::after{
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
content: '\f105';

float: right;
color: #c5c5c5;
}

/*Submenu*/
/*.submenu{display: none;}*/

.navegacao .submenu li.title-menu{
background: #fff;	
/*display: none;*/	
color: #575d69;
}

.navegacao .submenu li.go-back{
padding: 10px 20px;
background: #5f6f81;
color: #fff;
font-size: 18px;
cursor: pointer;
}

.navegacao .submenu li.go-back::before{
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;	
content: '\f0d9';
margin-right: 10px;
}

.content_page{
width: 100%;
height: auto;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;

box-sizing: border-box;
padding: 10px;
background: #fff;	
}

.content_page > h2{
width: 250px;	
color: #34495e;
height: 30px;
margin-bottom: 10px;
border-bottom: 1px solid #ccc;	
}

.btn_topo{
width: auto;
height: 40px;
padding: 0 10px;
padding-top: 2px;
}

.add_pagina{
display: inline-block;
margin-left: 10px;
}

.export_lista{
margin-right: 10px;	
}



.filtros_forma{
width: 100%;
height: auto;
margin-bottom: 35px;
margin-top: 20px;
border-radius: 0 0 5px 5px;
}

.box_filtro{
width: 100%;
height: auto;
border:1px solid #ccc;	
box-sizing: border-box;
border-radius: 0 0 5px 5px;
display: table;
}

.box_filtro_titulo{
width: 100%;
height: 50px;
line-height: 50px;
background: #34495e;
}

.box_filtro_titulo h3{
color: #fff;
padding-left: 15px;
}

.form_suspenso{
width: 100%;
height: 100px;
display: table;
margin-bottom: 20px;
border-bottom: 1px solid #999;
padding-bottom: 10px;	
}
.separator{
width: 100%;
height: 30px;
margin-bottom: 15px;
}

.lista_permissoes{
width: 100%;
height: 100%;
display: flex;
flex-direction: row;	
flex-wrap: wrap;
}

/*Parte de permissoes*/
.box_permissao{
width: 32%;
height: auto;
margin: 0 0.5%;
border: 1px solid #ccc; 
border-radius: 5px 5px 0 0;
margin-bottom: 15px;
}

.box_permissao_title{
width: 100%;
height: 50px;
line-height: 50px;
background: #34495e;
box-sizing: border-box;
border-radius: 5px 5px 0 0;
}
.box_permissao_title h3{
 color: #fff; 
 padding-left: 10px;
}

.box_permissao_opc{
  box-sizing: border-box;
  padding: 10px;
}

.box_checkbox{
border: 1px solid #ccc;
border-radius: 4px;
height: 30px;
line-height: 30px;
padding-left: 10px;
margin-bottom: 5px;
}
.box_checkbox input[type=checkbox]{
 padding-left: 5px;
 margin-right: 5px; 
}

.graficos{
width: 100%;
height: auto;

display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.box_grafico{
width: 49%;
height: 300px;
margin: 0 0.5%;
background: #f4f4f4;
border:1px solid #ccc;
margin-bottom: 10px;
}

.box_title_grafico{
width: 100%;
height: 50px;
line-height: 50px;
text-align: center;
background: #34495e;	
}

.box_title_grafico h2{
font-size: 1.3em;
color: #fff;
font-weight: bold;	
}
.content_grafico{
box-sizing: border-box;
padding: 5px;	
max-width: 100%;	
}

/*Box estatistica*/
.estatisticas{
width: 100%;
height: auto;
display: flex;
flex-direction: row;	
flex-wrap: wrap;
}

.box_estatisticas{
width: 310px;
height: 100px;
background: #1289A7;
position: relative;
margin: 0 5px;
margin-bottom: 10px;
}
.box_estatisticas ~ .mod4{
background: #009432;	
}
.box_estatisticas ~ .mod2{
background: #833471;	
}
.box_estatisticas ~ .mod3{
background: #EE5A24;	
}
.box_estatisticas ~ .mod4{
background: #009432;	
}
.box_estatisticas ~.mod5{
background: #e74c3c;	
}
.box_estatisticas ~ .mod6{
background: #e67e22;	
}

.box_estatisticas strong{
font-size: 5em;
padding: 20px 10px;
color: #fff;
text-shadow: 8px 10px 3px #333;
}

.box_estatisticas h3{
position: absolute;
left: 165px;
top: 10px;	
font-size: 1.5em;
color: #fff;
margin-right: 5px;
line-height: 20px;
}
.box_estatisticas a{
width: 130px;
height: 35px;
background: #fff;
color: #066;
cursor:pointer;
text-decoration: none;
padding: 5px;
position: absolute;
right: 10px;
bottom: 10px;
text-align: center;
line-height: 25px;
font-weight: bold;
}
/*Fim Box estatistica*/

.info_comissoes{
width: 100%;
height: auto;
margin: 30px 0;
padding: 10px;
text-align: center;	
border-bottom: 1px solid #ddd;
}
.info_comissoes h2{
color: #333;	
}


/*box de mensagens da NFE*/
.alert-box{
border: 1px solid #ccc;
border-radius: 5px;
width: 100%;
height: 40px;
box-sizing: border-box;
padding: 5px;
text-align: center;
line-height: 30px;
margin-bottom: 20px;
margin-top: 0;
display: none;	
}

.alert-info{
background: #74b9ff;
color: #333;	
}
.alert-error{
background: #fab1a0;
color: #333;	
}
.alert-success{
background: #55efc4;
color: #333;
}


/************************/
/*Estilo para o dropzone*/
.imgs_drop{
 width: 150px; 
 border: 1px solid #ccc;
 border-radius: 4px;
 padding: 4px;
 text-align: center; 
 float: left;
 margin-right: 7px;
 margin-bottom: 10px;
}
.imgs_drop img{
 width: 98%;
 margin: 0 1%; 
}
.remove_image{
 width: 120px;
 height: 25px;
 background: tomato;
 color: #fff;
 cursor: pointer;
 border: 0 none;
 border-radius: 4px;
 margin: 0 auto; 
}
/*Fim do estilo para o dropzone*/
/*********************************/


@media(max-width: 480px){
header #button-menu{display: inline-block;}
header .perfil{width: 200px;margin-right: 0px;}

#content-principal{width: 98%;margin: 0 1%;}

.logomarca h2{font-size: 1em;display: none;}
.navegacao ul{width: 100%;}	


.report_box{
width: 100%;
height: auto;
margin-bottom: 8px;
display: flex;
flex-direction: column;
}

.report_box .box_report_single{
width: 98%;
margin-left: 1%;margin-right: 1%; 
margin-bottom: 10px;
}

.graficos{flex-direction: column;}
.box_grafico{width: 99%;margin-bottom: 20px;}

.navegacao .menu{left: -400px;}
.navegacao .submenu{left: -420px;}
/*.navegacao .menu{left:-260px;};
.navegacao .submenu{left:-260px;};*/

.content_page{
width: 100%;
height: auto;

margin-top: 10px;
height: auto;
display: flex;
flex-direction: column;
}
}