.box_form{
	border: 1px solid #ccc;
	width: 100%;
	margin: 0 ;
	margin-bottom: 10px;			
	height: auto;
	border-radius: 5px;     
  margin-top: 3px;
  border-top: none;

}

/*Titulo do form */
.box_form_title{
	width: 100%;
	height: 35px;
  line-height: 35px;
	background: #34495e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 10px;
}

.box_form_title h3{color: #fff;font-size: 1.2em;}
.box_form_title span{color: #fff;font-size: 1.4em;cursor: pointer;padding: 0 8px;display: block;margin-bottom: 5px;}
.box_form_title span a:hover{background: transparent;}
.box_form_title .min_box a i{
 font-size: 18px; 
}
.box_form_title .min_box a i:hover{background: none !important;}

         
/*Conteudo do form */
.box_form_content{
			width: 100%;
			height: auto;			
			box-sizing: border-box;
			padding: 10px;
			display: table;					
}
.closeBox{height: 0;}		
.form_box{ width: 100%;  height: auto;}    


.form_box fieldset{
 widows: 100%;
 height: auto;
 display: block;
 margin: 10px 0; 
}

.table_form{
width: 100%;
height: auto;
display: block;
margin: 15px 0;  
}

.form_box .input-wrapper{        
		margin-top: 5px;
    box-sizing: border-box;   
    float: left;  
    width: 100%;   
}

.form_box .singleButton{  
  width: 100%; 
 margin-top: 25px;
}


.form_box .input-wrapper .container-preview{
 width: 220px;
 height: 150px;
 border:1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 padding: 4px; 
position: relative;
display: flex;
align-items: center;
justify-content: center;
} 

.form_box .input-wrapper .container-preview img{
 width: 100%;
 height: 100%; 
 display: none; 
 object-fit: cover;
 object-position: center;
}

.inputFile .btn-upload{
 width: 120px;
 height: 30px;
 background: #069;
 color: #fff; 
 position: relative;
 border-radius: 5px;
}
.btn-upload .fa-cloud-upload{
 width: 32px;
 height: 32px;
 color: #fff;
 margin-top: -14px; 
 margin-left: -8px;
 color: #fff !important;
}


.inputFile input[type=file]{
  display: none;
}
.inputFile .remove_image{
display: none;
position: absolute;
top: 10px;right: 10px;
color: #fff;
background: tomato;
border-radius: 50%;
padding: 5px 10px;
}

.inputFile .fa-cloud-upload{
font-size: 30px;
z-index: 120;
position: absolute;
top: 45%;
left: 45%;
color: #069;
cursor: pointer;
}

.pessoJuridica{
 display: none; 
}

.form_box .input-wrapper span{
    color:#777;
    font-size:.9em;
    display:block;
    margin-bottom:4px;
    font-weight:bold;
}

.selec_min{
 width: 80px !important;
 float: left; 
}
.delTable{
 background:tomato;
 color: #fff;
 border-radius: 4px;
 padding: 5px;
 color: #fff;
 cursor: pointer;
 margin-left: 5px; 
}
.delTable i{
background: transparent;
color: #fff;
}

     
.form_box .input-wrapper input[type=text],
.form_box .input-wrapper input[type=email],
.form_box .input-wrapper input[type=number],
.form_box .input-wrapper input[type=password],
.form_box .input-wrapper input[type=date],
.form_box .input-wrapper input[type=time],
.form_box .input-wrapper input[type=button]
{
       	width: 99%;
        border: 1px solid #bbb;
        height: 35px;
         line-height: 35px;  
        box-sizing: border-box;
        padding-left: 6px;
        border-radius: 4px;
        outline: none;     
}

/*.form_box .input-wrapper input[type=file]{display: none;}*/

.form_box .input-wrapper input[type=checkbox]{
 width: 15px;
 height: 15px;
 border-radius: 2px;
 border:1px solid #ccc; 
 background: red;
 margin-right: 7px;
 vertical-align: top;
}
.form_box .input-wrapper input[type=button]{
 background: #066;
 color: #fff;
 cursor: pointer;
 width: 90px;
 margin: 0 auto; 
}

.form_box .input-wrapper input[type=radio]{
width: 25px;height: 25px;margin-right: 6px;vertical-align: top;
}

.form_box .input-wrapper input[type=text]:focus,
.form_box .input-wrapper input[type=email]:focus,
.box_form_content .input-wrapper input[type=number]:focus,
.form_box .input-wrapper input[type=password]:focus
{
border-color: #3c8dbc;
box-shadow: 0 0 5px 0 #3c8dbc;
}
      
.form_box .input-wrapper select{
       	 width: 99%;
       	 height: 35px;
       	 border: 1px solid #333;
       	 color: #777;
       	 box-sizing: border-box;
       	 padding-left: 6px;  
       	 border-radius: 4px;       	 
}


.form_box .input-wrapper select.duallistbox{
 height: 150px;
 border: 1px solid #ccc; 
}
.form_box .input-wrapper select:focus{
  border-color: #3c8dbc;
	box-shadow: 0 0 5px 0 #3c8dbc;
}

       .form_box .input-wrapper textarea{
       	width: 99%;
        border: 1px solid #ccc;
        height: 150px;         
        box-sizing: border-box;
        padding-left: 10px; 
        padding-top: 10px;
        resize: none;   
        border-radius: 4px;     
       }
       .form_box .input-wrapper textarea:focus{
       	   border-color: #3c8dbc;
	       box-shadow: 0 0 5px 0 #3c8dbc;
       }

.form_box .input-wrapper .file-group{
position: relative;
width: 263px;
height: 30px; 
margin: 5px;
}  

.form_box .input-wrapper .file-group > #file{
 position: absolute;
 opacity: 0;
 z-index: 2;
 padding: 5px;
}     
.file-group > #file-text{
padding: 5px;
width: 280px;
height: 30px;
background: #f1f1f1;
border-left: 1px solid #3498db;
border-top: 1px solid #3498db;
border-bottom: 1px solid #3498db;
overflow: hidden;
text-overflow: clip;
white-space: nowrap;
}

.file-group > .file-button{
padding: 5px;
position: absolute;
top: 0;
right: -17px;
width: 60px;
height: 30px;
text-align: center;
background: #34495e;
border-right: 1px solid #3498db;
border-top: 1px solid #3498db;
border-bottom: 1px solid #3498db;
color: #fff;
cursor: pointer;
}
.file-group > .file-button .fa-cloud-upload{ 
 margin-top: -10px; 
 margin-left: -7px;
 color: #fff;
 font-size: 22px;
}


.square input[type=text]{
 border-radius: 0 !important;
 border: 1px solid #ccc; 
}


.form_box .inputWithIcon{
  position: relative;
}

.form_box .inputWithIcon i{
 position: absolute;
 left: 0; 
 top: 0;
 color:red; 
} 
.form_box .inputWithIcon input[type=text]{
  padding-left: 20px;
}      

.form_box .w100{ width: 100%;}
.form_box .w75{ width: 75%;}
.form_box .w50{width: 50%;}
.form_box .w30{width: 33.33%;}
.form_box .w25{ width: 25%;} 
.form_box .w20{width: 20%;}

.form_box .duplo{
 
}
.form_box .duplo input[type=text]{width: 75%;float: left;}
.form_box .duplo button{
width: 23%;margin-left: 1%;height: 35px;border: 0 none; border-radius: 4px;background: tomato;color: #fff;cursor: pointer;}

.add_linhas{width: 150px;height: 35px;cursor: pointer;border: 0 none;border-radius: 4px;background: tomato;color: #fff;}
.left{
text-align: left
}
.right{
text-align: right;
}

.center{
  text-align: center;
}

.has-error{
 border: 1px solid #f00 !important; 
}


/*Box para conteudo*/
.box-container{
width: 99%;
height: auto;
border: 1px solid #ccc; 
margin-right: 1%;
box-sizing: border-box;
border-radius: 3px;
margin-top: 10px;
margin-bottom: 10px;
}

.box-header{
width: 100%;
height: 30px;
line-height: 30px;  
background: #eee;
border-bottom: 1px solid #ddd;
box-sizing: border-box;
padding: 0 10px;
}

.box-header h2{
font-size: 14px;
color: #777;
text-align: center;
}

.box-content{
width: 100%;
height: auto;
box-sizing: border-box;
padding: 10px;
display: flex;  
justify-content: center;
}

.coluna{
 flex-direction: column; 
}

/*Fim do box para conteudo*/
.drop-zone{
max-width: 150px;
height: 150px;
padding: 20px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
font-family: 'Quicksant',  sans-serif;
font-size: 500;
font-size: 20px;
cursor: pointer;
color: #ccc;
border: 4px dashed #3c6382;
border-radius: 10px;  
} 
.drop-zone--over{
border-style: solid;  
}
.drop-zone__input{
display: none;  
}

.drop-zone__thumb{
width: 100%;
height: 100%;
border-radius: 10px;
overflow: hidden; 
background: #ccc;
background-size: cover;
position: relative;
}

.drop-zone__thumb::after{
content: attr(data-label);
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 5px 0;
color: #fff;
background: rgba(0,0,0,0.75);
font-size: 14px;
text-align: center;

}



@media (max-width: 480px){
.form_box .w75, .form_box .w50, .form_box .w30, .form_box .w25 { width: 100%;}
  
}