*{
  padding: 0;
  margin: 0;
}
.containertotal{
 
}

.flex{
 width: 450px;
 height: 100vh;
 float: left;
 box-sizing: border-box;
 padding: 30px;
}

.background{
 width: calc(100% - 450px);
 height: 100vh; 
 background: url('../images/bg_login.jpg');
 background-size: 100% 100%; 
 float: left;
 position: relative;
}
.background h2{position: absolute;top: 65px;left: 60px;color: #fff;font-size: 1.6em;}
.background h4{position: absolute;top: 95px;left: 60px;color: #f4f4f4;font-size: 1.2em;}


#email{
 width: 70%;
 height: 35px;
 border-radius: 4px;
margin: 0 15%;
 border:1px solid #ccc;
 box-sizing: border-box;
 padding-left: 5px;
}

.input-field{position: relative;}
#uePassowrd{
  width: 70%;
 height: 35px;
 border-radius: 4px;
margin: 0 15%;
 border:1px solid #ccc;
 margin-bottom: 8px; 
 box-sizing: border-box;
 padding-left: 5px; 
}
#c{
 position: absolute;
 top: 7px;
 right: 17%; 
}
.lembrar{
 width: 70%;
 height: 35px;
 margin: 0 15%; 
 margin-bottom: 10px;
}
.lembrar input{
 width: 100%;
 height: 35px;
 background:#089;
 color: #fff;
 cursor: pointer;
 border-radius: 5px;
 border:0 none; 
}
.recovery{
 color: #069;
 font-size: 1.2em;
  text-decoration: none; 
}

@media (max-width: 680px){

.flex{
 width: 98%;
 height: 100vh;
 float: none;
 box-sizing: border-box;
 padding: 30px;
 margin: 0 1%;
}

 .background{display: none;} 
}