.logomarca{
display: inline-block;
vertical-align: top;
}
.logomarca a{
text-decoration: none;	
}
.logomarca h2{
color: #fff;
font-size: 1.1em;	
margin-top: 5px;
}


header .perfil{
width: 200px;
float: right;
text-align: center;
margin-right: 30px;
margin-top: 5px;
cursor: pointer;
position: relative;

font-size: 1.2em;
color: #fff;
background: transparent;
}

header .perfil i{margin-right: 5px;}
.sub_perfil{
display: none;	
width: 180px;
height: auto;
line-height: 20px;
background: #34495e;
padding: 10px;
position: absolute;
top: 32px;
right: 1px;
box-shadow: 0 2px 1px #999;	
text-align: left;
padding-left: 30px;
border-radius: 0 0 5px 5px;
z-index: 99999;
}

.sub_perfil a{
text-decoration: none;
color: #fff;
margin-bottom: 10px;	
display: block;
margin-top: 0;
padding-top: 0;
}

.sub_perfil a i{
margin-right: 6px;	
}

/*conteudo principal*/
#content-principal{
width: calc(100% - 260px);
height: 100%;/*calc(100vh - 50px);*/
background: #d2d2d2;

margin-left: 260px;
margin-top: 47px;
box-sizing: border-box;
padding: 10px;

display: flex;
flex-direction: column;
flex-wrap:wrap; 
}

.btn{
border: 0 none;
width: auto;
padding: 10px;
border-radius: 4px;
cursor: pointer;	
}
.btn a{color: #fff;text-decoration: none;}
.btn-success{background: #066;color: #fff;}
.btn-info{background: #f90;color: #fff;}
.btn-alert{background: #069;color: #fff;}
.btn-error{background: tomato;color: #fff;}

/*Aqui fica o cabelho das paginas do financeiro*/

.box_view{	
margin-top: 30px;
margin-bottom: 30px;	
width: 100%;
height: 150px;
height: auto;

box-sizing: border-box;
border-top: 6px solid #069;	
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
padding-bottom: 10px;
}
.box_view h2{
	padding: 10px;
}

.box_left{
width: 30%;
padding-left: 15px;
}
.box_left h2{
margin-bottom: 15px;
font-size: 22px;	
}
.box_left i{
font-size: 36px;
display: inline-block;
vertical-align: middle;
margin-right: 5px;	
float: left;
}


.box_right{
width: 70%;	
padding-right: 30px;
display: flex;
flex-direction: row;
text-align: right;
justify-content: flex-end;
}
.box_right article{width: 25%;}
.box_right article i{	
	float: left;
	font-size: 36px;	
}
.box_right article span{
float: left;
text-align: left;
margin-left: 10px;	
}

/*Estilo para a paginação de resultados*/
.paginator{
width: auto;
height: 40px;
line-height: 40px;
border:1px solid #777;
border-radius: 5px;
box-sizing: border-box;
overflow: hidden;
text-align: center;

display: block;
margin-top: 20px;
}

.paginator a{
text-decoration: none;
padding-top: -1px;	
text-align: center;

}
.paginator a:first-child, .paginator a:last-child{
display: inline-block;
background: #333;
color: #fff;
padding: 0 5px;
}
.paginator a:first-child{text-align: right;float: left;}
.paginator a:last-child{text-align: right;float: right;}
.paginator .atv{
background: #333;
color: #fff;
padding: 11px 10px;	
}
/*Fim do estilo da paginação*/

/*Modal da lista de produtos avulso*/
.listaProdutos{
background: #f2f2f2;
padding: 5px;	
}
.si{
border-bottom: 1px solid #ddd;
margin-bottom: 5px;	
}
.si a{
text-decoration: none;
color: #888;	
}
/*Fim Modal da lista de produtos avulso*/


/*Fazendo upload da importaçao*/
#process{
width: 100%;
height: 30px;
border: 1px solid #ccc;
border-radius: 2px;	
background: #f3f3f3;
}

.progress{
width: 100%;
height: 28px;
position: relative;
}

.progress-bar{
height: 28px;
background: #058;
width: 0%;	
}

.estatiscas_upload{
position: absolute;
top: 0;
left: 0;	
display: flex;
flex-direction: row;	
}

.estatiscas_upload span{		
padding-top: 5px;
padding-left: 10px;
color: #333;
margin-right: 5px;
}

.pagination{	
list-style: none;
text-align: left;
}
.pagination li{
display: inline-block;
padding: 5px;	
}


/*Instant search com javascript*/
.searchresults{
width:350px;
min-height: 40px;
max-height: 200px;
height: auto;
margin-right: 1%;
position: absolute;	
top: -1;
left: 1px;
border: 1px solid #ccc;
border-top: none;
box-sizing: border-box;
padding: 5px;
overflow: auto;
background: #ccc;
display: none;
}

.searchresults ul{list-style: none;}

.searchresults ul li{
border-bottom: 1px dashed #fff;
margin-bottom: 3px;
color: #444;
padding: 5px;
cursor: pointer;
}
.searchresults ul li:last-of-type{
	border-bottom: none;
}

/*Pagina do frente de caixa*/

.mypdv{
width: 100%;
height: auto;
display: flex;
flex-direction: row;
}

.pdv_left{
width: 45%;
height: auto;
box-sizing: border-box;
padding: 10px;
border: 1px solid #ccc;	
}

.nome_produto_pdv{
width: 100%;
height: 30px;
margin: 5px 0;
line-height: 30px;
box-sizing: border-box;
padding-left: 5px;	
}
.nome_produto_pdv h4{
color:#777;
font-size:.9em;
font-weight:bold;	
}
.nome_produto_pdv span{
font-size: 12px;
color: #555;	
}
.formulario_pdv{
width: 100%;
height: auto;
display: table;	
}

.img_pdv{
width: 90%;
height: 250px;
margin:  0 5%;
object-fit: cover;
object-position: center;	
background: #069;
margin-top: 20px;
}
.img_pdv img{
width: 100%;
height: 250px;	
}
.btn_pdv{
width: 100%;
height: auto;
text-align: center;	
}

.table_pdv{
width: 55%;
height: auto;
text-align: center;
box-sizing: border-box;
padding: 10px;
padding-top: 0;
}

.content-table{
border-collapse: collapse;
margin: 25px 0;
margin-top: 0;
font-size: 0.9em;
min-width: 515px;
border-radius: 5px 5px 0 0;
overflow: hidden;	
box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table thead tr{
background: #34495e;
color: #fff;
text-align: left;
font-weight: bold;	
}
.content-table th, .content-table td{padding: 12px 15px;}
.content-table tbody tr:nth-of-type(even){background: #f3f3f3;}
.content-table tbody tr:last-of-type{border-bottom: 2px solid #34495e;}
/*Fim da pagina frente de caixa*/

/*Fim do upload da importação*/

/*area do chat*/
#messages{
height: 85vh;
overflow-x: hidden;
padding: 10px;
background-image:url('../images/bg.png');	
}

form.form_chat{
display: flex;	
}

input.input_chat{
font-size: 1.2rem;
padding: 10px;
margin: 10px 5px;
appearance:none;
-webkit-appearance:none;
border: 1px solid #ccc;
border-radius: 5px;
}

#message{flex: 2;}
.msg{
background: #dcf8c6;
padding: 5px 10px;
border-radius: 5px;
margin-bottom: 8px;
width: fit-content;  	
}
.msg p{
margin: 0;
font-weight: bold;	
}
.msg span{
font-size: 0.7rem;
margin-left: 15px;
}


@media(max-width: 480px){

#content-principal{width: 100%;margin-left: 0px;}

header .perfil{margin-right: 0px;text-align: right;
cursor: pointer;}
	
}