.container_shrinker{
width: 100%;
height: auto;
display: table;
box-sizing: border-box;
padding: 0 2%;	
}

.container_shrinker .table{
width: 100%;	
}

.shrink{
width: 100%;
height: auto;		
border-collapse: collapse;
border-bottom: 0 none;
}

.shrink thead tr{
border:1px solid #ccc;
height: 40px;
border-left: 0 none;
border-right: 0 none;
}

.shrink tbody tr{
text-align: center;
border-bottom: 1px solid #ccc;
}
.shrink tbody tr:last-child{border-bottom: 0 none;}

.shrink tbody tr td{	
padding: 10px 0;
border-bottom: none;
}

@media(max-width: 560px){
.container_shrinker{padding: 0 2%;}	
}