.animais-lista li{
	cursor: pointer;
}
.js-tabmenu li{
display: inline-block;
margin: 0 5px;
font-size: 1.2em;
color: #222;
cursor: pointer;
}

.js-tabcontent section{
  display: none
}
.js-tabcontent section.ativo{
display: block;	
transform: translate3d(-30px,0, 0);
animation: show .5s forwards;
}

.tabStyle{
border:1px solid #ccc;
box-sizing: border-box;border-top: none;
padding: 7px;
border-radius: 4px;	
}
.js-tabmenu li{
background: #e5e5e5;
padding: 5px;
border-radius: 3px;	
color: #444;
}

.tabStyle .js-tabmenu li{
border-top: 2px solid tomato;	
}

.link_aba{
background: #ddd;
padding: 10px 15px;
margin-right: 0;
margin-left: 0;
font-weight: bold;
margin-bottom:7px;
display:inline-block;
}

@keyframes show{
	from{
		opacity: 0;
		transform: translate3d(-30px, 0, 0);
	}
	to{
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

@media(max-width:480px){
.js-tabmenu{
display:flex;
flex-direction:row;
flex-wrap:wrap;
}

.link_aba{
background:#069;
color:#fff;
margin:10px;
display:block;
}
}